.img {
    position: relative;
    width: 1550px;
    height: 720px;
    top: -160px;
    left: -10px;
}

.win {
    position: relative;
    border: 1px solid;
    left: 900px;
    top: -600px;
    width: 200px;
    height: 50px;
}

.letter {
    position: relative;
    top: 5px;
}

.check {
    position : relative;
    top: 5px;
}